<!doctype html>
<html lang="en">

<head>
  <%- include("../partials/head"); %>
    <script src="script.js" defer></script>
</head>

<body>
  <header>
    <%- include("../partials/navbar"); %>
      <search>
        <input type="search" placeholder="Search a command ..." />
        <div id="categories">
          <button type="button" class="cat-btn active">All</button>
          <button type="button" class="cat-btn">Music</button>
          <button type="button" class="cat-btn">Misc</button>
        </div>
      </search>
      <hr />
  </header>
  <main>
    <section id="commands">
      <h2>All Commands</h2>
      <div id="cmd-container">
        <% data.commands.forEach((cmd)=> { %>
          <article class="cmd-wrapper" data-category="<%= cmd.category %>">
            <h3 class="cmd-name">
              <%= cmd.name %>
            </h3>
            <div class="cmd-content">
              <p class="cmd-description">
                <%= cmd.description %>
              </p>
              <p class="cmd-usage"><span>Usage:</span> /<%= cmd.name %>
                  <%= cmd.options?.length>= 1 ?
                    cmd.options.map(opt => opt.required ? `<${opt.name}>` : `[${opt.name}]`).join(" ")
                      : "" %>
              </p>
            </div>
          </article>
          <% }) %>
      </div>
    </section>
  </main>
  <hr />
  <footer>
    <%- include("../partials/footer"); %>
  </footer>
</body>

</html>