<!doctype html>
<html lang="en">

<head>
  <%- include("../partials/head"); %>
</head>

<body>
  <header>
    <%- include("../partials/navbar"); %>
  </header>
  <hr />
  <main class="text-left">
    <h2>Terms of Service</h2>
    <p>
      Last updated on
      <time datetime="2024-04-29">29th of April in 2024 (IST)</time>.
    </p>
    <p>
      Thanks for using <%= data.botName %>! These Terms of Service ("Terms", "ToS") are a legal
        agreement between <%= data.botName %> Bot ("we", "us", the "Company") and you ("you" or
          "your"). They govern your use of <%= data.botName %>, a Discord music bot (the "Bot"), and
            any related services. By adding the Bot to your Discord server, using its features or
            distributing it, any source code, any binary associated with <%= data.botName %> or its
              parts, or our website, collectively referred to as "<%= data.botName %>" or the "Service"
                you agree to be bound by these Terms.
    </p>

    <ul>
      <li>
        <h3>Usage</h3>
        <p>
          The Bot is provided for entertainment purposes only. You agree to use the Bot in
          compliance with Discord's
          <a href="https://discord.com/terms" target="_blank" rel="noopener noreferrer">Terms of Service</a>
          and
          <a href="https://discord.com/guidelines" target="_blank" rel="noopener noreferrer">Community Guidelines</a>.
        </p>
      </li>
      <li>
        <h3>Availability</h3>
        <p>
          The Provider makes no guarantees regarding the availability, reliability, or performance
          of the Bot. The Bot may be temporarily unavailable or discontinued at any time without
          notice.
        </p>
      </li>
      <li>
        <h3>User Conduct</h3>
        <p>
          You agree to use the Bot only for lawful purposes and in a manner consistent with
          Discord's Terms of Service and Community Guidelines. You may not use the Bot to engage
          in any illegal, harmful, or abusive activities.
        </p>
      </li>
      <li>
        <h3>Content</h3>
        <p>
          The Provider is not responsible for any content uploaded, transmitted, or accessed
          through the Bot. You are solely responsible for the content you upload or transmit using
          the Bot.
        </p>
      </li>
      <li>
        <h3>Privacy</h3>
        <p>
          The Provider may collect and store certain information about your usage of the Bot. By
          using the Bot, you consent to the Provider's collection and use of this information in
          accordance with our
          <a href="/privacy" target="_blank">Privacy Policy</a>.
        </p>
      </li>
      <li>
        <h3>Limitation of Liability</h3>
        <p>
          In no event shall the Provider be liable for any direct, indirect, incidental, special,
          or consequential damages arising out of or in any way connected with the use of the Bot.
        </p>
      </li>
      <li>
        <h3>Indemnification</h3>
        <p>
          You agree to indemnify and hold the Provider harmless from any claims, damages, losses,
          liabilities, costs, and expenses arising out of or in connection with your use of the
          Bot.
        </p>
      </li>
      <li>
        <h3>Changes to Terms</h3>
        <p>
          The Provider reserves the right to modify or revise these Terms at any time, and such
          modifications or revisions will be effective immediately upon posting on the Provider's
          website or
          <a href="/support" target="_blank">Discord server</a>.
        </p>
      </li>
      <li>
        <h3>Governing Law</h3>
        <p>
          These Terms shall be governed by and construed in accordance with the laws of US,
          without regard to its conflict of law provisions.
        </p>
      </li>
      <li>
        <h3>Contact Us</h3>
        <p>
          If you have any questions about these Terms, please contact us at our
          <a href="/support" target="_blank">Discord server</a>.
        </p>
      </li>
    </ul>
  </main>
  <hr />
  <footer>
    <%- include("../partials/footer"); %>
  </footer>
</body>

</html>